body{
	background-image: url('https://tva2.sinaimg.cn/large/87c01ec7gy1fsnqqzqzonj21kw0w0ww2.jpg');
	background-size: cover;
}
.el-card{
	position: absolute;
	top:10%;
	left: 30%;
}
.days{
	font-size: large;
	color: coral;
}